.footer {
  width: 100%;
  height: 348px;
  bottom: 0;
  background-image: url('../../../assets/footer.png');

  @apply flex justify-center items-center;

  p {
    color: white;
  }
}

.socialIcon {
  width: 35px;
  height: 35px;
  border-radius: 100px;
  background-color: white;
  padding: 5px;
  margin: 10px;
}

.allrightreserved {
  background-color: white;
  height: 90px;

  @apply flex justify-center items-center;
}
