.regularImg {
  width: 732px;
  height: 320px;
  border-radius: 10px;
}

.smallerImg {
  width: 732px;
  height: 288px;
  border-radius: 10px;
  margin-top: 30px;
}

.biggerImg {
  height: 610px;
  border-radius: 10px;
  margin-top: 30px;
}
