.leftImg {
  width: 902px;
  height: 480px;
  background-image: url('../../../../../assets/promos/promo-left.png');

  @apply z-20 rounded;
}

.rightImg {
  width: 902px;
  height: 480px;
  background-image: url('../../../../../assets/promos/promo-right.png');

  @apply rounded absolute right-0 my-24;
}
